@model TournamentModels.Division

@{
    ViewBag.Title = "Details";
}
<hr />
<div>

    <h4>Division</h4>
    <hr />
    @*<p><a href="~/Divisions/Edit/@Model.DivisionId" style="float:left;margin-right:10px">Edit</a></p>
        <p><a href="~/Divisions/Delete/@Model.DivisionId">Delete</a></p>

        <hr />*@
    <dl class="dl-horizontal">
        @*<dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrawBracket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrawBracket)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ConsolidationRound)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConsolidationRound)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.Bracket)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Bracket)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.OrderId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OrderId)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Tournament)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tournament.Name)
        </dd>

    </dl>
</div>
<hr />
<p>
    @if (Model.ParticipantDivisionInts.Count > 1 && Model.DrawBracket)
    {
        @Html.ActionLink("Bracket diagram", "Draw", "Bracket", new { divisionId = Model.DivisionId }, null)
    }
    else
    {
        @Html.ActionLink("Bracket diagram", "FlatList", "Bracket", new { divisionId = Model.DivisionId }, null)
    }


    @*@Html.ActionLink("Bracket diagram", "Draw", "Bracket", new { divisionId = Model.DivisionId }, null) |*@
    | @Html.ActionLink("Back to tournament", "Details", "Tournaments", new { id = Model.TournamentId }, null)
</p>
<hr />
<div>

    <p>
        @Html.ActionLink(">> Add participant", "CreateForDivision", "ParticipantDivisionInts", new { divisionId = Model.DivisionId, tournamentId = Model.TournamentId }, null)
    </p>
    <table class="table">
        <tr>
            @*<th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
            <th>Transfer to division...</th>
        </tr>

        @foreach (var item in Model.ParticipantDivisionInts)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Division.Id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Participant.Name)
                </td>
                <td>
                    @*   @Html.ActionLink("Edit", "Edit", "ParticipantDivisionInts", new { id = item.ParticipantDivisionIntId }, null) |*@
                    @*@Html.ActionLink("Details", "Details", "ParticipantDivisionInts", new { id = item.ParticipantDivisionIntId }, null) |*@
                    @Html.ActionLink("Remove from division..", "Delete", "ParticipantDivisionInts", new { id = item.ParticipantDivisionIntId }, null)
                </td>
                <td>
                    <select name="trans" class="target">
                        @foreach (var pair in ((Dictionary<Guid, List<SelectListItem>>)Model.LinkHelper)[item.Participant.ParticipantId])
                        {
                            <option value="@pair.Value">@pair.Text</option>
                        }
                    </select>
                </td>
            </tr>
        }

    </table>
    <script>
        $(".target").change(function () {
            if (this.value != null && this.value != "")
                if (confirm("Are you sure you want to transfer the participant?")) {

                    var iisApplication = "";

                    if (window.location.pathname.split('/').length > 4)
                        iisApplication = '/' + window.location.pathname.split('/')[1];

                    window.location.href = iisApplication + this.value;
                }
                else {
                    this.selectedIndex = 0;
                }
        });
    </script>

</div>
