@model IEnumerable<TournamentModels.Division>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DrawBracket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsolidationRound)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bracket)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tournament.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DrawBracket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ConsolidationRound)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bracket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tournament.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DivisionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.DivisionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DivisionId })
        </td>
    </tr>
}

</table>
