@model TournamentModels.School

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this school?</h3>
<div>
    <h4>@*School*@</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tournament)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tournament.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            @* | @Html.ActionLink("Back to List", "Index")*@
        </div>
    }

    <h4>Competitors in the current school and their participation in divisions</h4>
    @if (Model.Participants.Any())
    {
        <ul>
            @foreach (var participant in Model.Participants)
            {
                <li>
                    @participant.Name
                    @if (participant.ParticipantDivisionInts.Any())
                    {
                        <ul>
                            @foreach (var pdi in participant.ParticipantDivisionInts)
                        {
                                <li>@pdi.Division.Name</li>
                            }
                        </ul>
                    }
                </li>
            }

        </ul>
    }
    else
    {
        <ul>
            <li>This school has no competitors.</li>
        </ul>
    }
</div>
