@model TournamentModels.Participant

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Competitor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Dummy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dummy)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.School)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tournament)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tournament.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ParticipantId }) 
@*    | @Html.ActionLink("Back to List", "Index")*@
</p>
